<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
  
<!--
<img src="http://fastpic.co/images/bg-black40c31.png" alt="bg-black40c31.png" border="0" />
<img src="http://fastpic.co/images/logoad119.png" alt="logoad119.png" border="0" />
<img src="http://fastpic.co/images/arrow-leftc78df.png" alt="arrow-leftc78df.png" border="0" />
<img src="http://fastpic.co/images/arrow-right3eb6f.png" alt="arrow-right3eb6f.png" border="0" />
<img src="http://fastpic.co/images/equalbc41b.png" alt="equalbc41b.png" border="0" />
<img src="http://fastpic.co/images/image-1-p.png" alt="image-1-p.png" border="0" />
<img src="http://fastpic.co/images/image-1-no-p5a4bb.png" alt="image-1-no-p5a4bb.png" border="0" />
<img src="http://fastpic.co/images/item-1d07af.png" alt="item-1d07af.png" border="0" />
<img src="http://fastpic.co/images/item-x3b3251.png" alt="item-x3b3251.png" border="0" />
<img src="http://fastpic.co/images/padlock531bc.png" alt="padlock531bc.png" border="0" />
<img src="http://fastpic.co/images/padlock--1.png" alt="padlock--1.png" border="0">
<img src="http://fastpic.co/images/plusb253a.png" alt="plusb253a.png" border="0" />
<img src="http://fastpic.co/images/prod-149992.png" alt="prod-149992.png" border="0" />
<img src="http://fastpic.co/images/prod-2eb9d2.png" alt="prod-2eb9d2.png" border="0" />
<img src="http://fastpic.co/images/prod-3aea6c.png" alt="prod-3aea6c.png" border="0" />
<img src="http://fastpic.co/images/routerbf7cf.png" alt="routerbf7cf.png" border="0" />
-->
    
    <table class="body">
        <tr>
            <td>
                <center>
                    
                  <spacer size="15"></spacer>
                  <container class="bg-bl ">
                      <row>
                          <columns large="6" class="custom-p-t custom-p-b">
                              <center>
                                  <img src="http://fastpic.co/images/logoad119.png" alt="logoad119.png" border="0" />
                              </center>
                          </columns>
                      </row>
                  </container>
                    
                  <container class="bg-y">
                      <row>
                          <columns large="8" class="text-center custom-p-t p-b-0">
                             <p class="main-sub-heading text-center small-text-center"> 
                                 Уважаемые пользователи системы!
                             </p>
                          </columns>
                      </row>
                      <row>
                          <columns large="2"></columns>
                          <columns  large="10">
                              <div class="decorative-line"></div>
                          </columns>
                          <columns large="2"></columns>
                      </row>
                      
                      <row>
                          <columns>
                              <p class="text-center main-body-p">
                                  В продаже появились Радиобрелки для системы EctoControl 3.0
                              </p>
                          </columns>
                      </row>
                      
                      <row>
                          <columns class="custom-p-b">
                              <img src="http://fastpic.co/images/image-1-p.png" alt="image-1-p.png" border="0" />
                          </columns>
                      </row>
                  </container>
                             
                  <container class="bg-black">
                      <row>
                          <p class="black-head-p text-center custom-p-t">
                              Что вы можете делать с его помощью?
                          </p>
                      </row>
                      <row valign="middle">
                          <columns large="1" valign="middle"></columns>
                          <columns large="1" class="p-t-10" valign="middle"><img src="http://fastpic.co/images/padlock531bc.png" alt="padlock531bc.png" border="0" /></columns>
                          <columns large="8" valign="bottom">
                              <p class="black-body-p">
                                  Ставить на охрану объект
                              </p>
                          </columns>
                      </row>
                      <row valign="middle">
                          <columns large="1" valign="middle"></columns>
                          <columns large="1" class="p-t-10" valign="middle">
                              <img src="http://fastpic.co/images/padlock--1d74d0.png" alt="padlock--1d74d0.png" border="0" />
                          </columns>
                          <columns large="8" valign="bottom">
                              <p class="black-body-p">
                                  снимать с охраны объект
                              </p>
                          </columns>
                      </row>
                      <row valign="middle">
                          <columns large="1" valign="middle"></columns>
                          <columns large="1" class="p-t-10" valign="middle">
                              <img src="http://fastpic.co/images/routerbf7cf.png" alt="routerbf7cf.png" border="0" />
                          </columns>
                          <columns large="8" valign="bottom" class="custom-p-t">
                              <p class="black-body-p">
                                  Управлять различными устройствами
                              </p>
                          </columns>
                      </row>
                   </container>
                   
                   <container class="bg-y">
                       <row>
                          <columns large="5"></columns>
                           <columns large="2" class="p-t-10">
                               <p class="text-center action">
                                   АКЦИЯ
                               </p>
                           </columns>
                           <columns large="5"></columns>
                       </row>
                       <row>
                           <columns>
                               <p class="text-center main-heading ">
                                   до 25 апреля 2017г. действует акция:
                               </p>
                               <p class="text-center main-heading ">
                                   “Три брелка по цене двух”
                               </p>
                           </columns>
                       </row>
                       <row>
                           <columns large="2" style="padding-left: 30px;">
                             <img src="http://fastpic.co/images/item-1d07af.png" alt="item-1d07af.png" border="0" />
                           </columns>
                           <columns large="1" valign="middle" style="padding-left: 0;">
                               <img src="http://fastpic.co/images/plusb253a.png" alt="plusb253a.png" border="0" style=" margin-top: -45px;" />
                           </columns>
                           <columns large="2" style="padding-left:0;padding-right:0;">
                             <img src="http://fastpic.co/images/item-1d07af.png" alt="item-1d07af.png" border="0" />
                           </columns>
                           <columns large="1" valign="middle" style="padding-left: 0;">
                               <img src="http://fastpic.co/images/equalbc41b.png" alt="equalbc41b.png" border="0" style=" margin-top: -45px;"/>
                           </columns>
                           <columns large="3">
                             <img src="http://fastpic.co/images/item-x3b3251.png" alt="item-x3b3251.png" border="0" />
                           </columns>
                       </row>
                   </container>
                   <container class="bg-black">
                       <row style="margin-left:10px;">
                           <columns large="1" class="p-t-10" style="padding-left:17px;">
                               <img src="http://fastpic.co/images/arrow-leftc78df.png" alt="arrow-leftc78df.png" border="0" />
                           </columns>
                           <columns large="12" style="z-imdex:3">
                               <p class="text-center black-body-p p-t-10" style="font-weight: 300; font-size: 15px;margin-left:-23px;">
                                   наши специалисты с радостью ответят на все вопросы
                               </p>
                               
                           </columns>
                           <columns large="1" class="p-t-10">
                               <img src="http://fastpic.co/images/arrow-right3eb6f.png" alt="arrow-right3eb6f.png" border="0" style="margin-left:-23px;" />
                           </columns>
                       </row>
                       <row style="margin-top:-30px;">
                           <columns large="6">
                               <p class="text-center contacts"  style="text-decoration:none;color:#ffd100;-webkit-text-size-adjust:none;">
                                   <span style="font-family: Arial, Helvetica, sans-serif;text-decoration:none;-webkit-text-size-adjust:none;">+7 (495)<span style=”font-size:0;”>&zwnj;</span> 215-22-69  |
                                   <span style="font-family: Arial, Helvetica, sans-serif;text-decoration:none;-webkit-text-size-adjust:none;">8-800<span style=”font-size:0;”>&zwnj;</span> 555-2211-69  |
                                   <a href="mailto:sales@ectostroy.ru" target="_blank" style="text-decoration:none;color:#ffd100;-webkit-text-size-adjust:none;">sales@ectostroy.ru</a>
                               </p>
                           </columns>
                       </row>
                       <row style="margin-top: -20px;">
                           <columns>
                               <p class="text-center conacts-site">
                                   
                                   <a href="http://ectostroy.ru/" target="_blank" style="text-decoration:none;color:#ffd100;-webkit-text-size-adjust:none;">www.ectostroy.ru</a>
                               </p>
                           </columns>
                       </row>
                   </container>
                   <container class="bg-w">
                       <row>
                           <columns class="custom-p-t custom-p-b">
                               <p class="text-center text-uppercase white-body-p">и ЕЩё!</p>
                               <p class="text-center text-uppercase white-body-p">Для ECTOCONTROL  запускаем </p>
                               <p class="text-center text-uppercase white-body-p">скоро в производство:</p>
                           </columns>
                       </row>
                       <row>
                           <columns>
                               <center>
                                   <img src="http://fastpic.co/images/prod-149992.png" alt="prod-149992.png" border="0" class="custom-p-b"/>
                               </center>
                               
                           </columns>
                           <columns>
                               <center>
                                   <img src="http://fastpic.co/images/prod-2eb9d2.png" alt="prod-2eb9d2.png" border="0" class="custom-p-b"/>
                               </center>
                           </columns>
                           <columns>
                               <center>
                                   <img src="http://fastpic.co/images/prod-3aea6c.png" alt="prod-3aea6c.png" border="0" class="custom-p-b"/>
                               </center>
                           </columns>
                       </row>
                       <row>
                           <columns large="4">
                               <p class="text-center prod-lable">
                                   модуль ротации
                                    и управления
                                    кондиционерами
                               </p>
                           </columns>
                           <columns large="4">
                               <p class="text-center prod-lable">
                                    модуль
                                    расширения на 10 реле
                                    (Din-рейка)
                               </p>
                           </columns>
                           <columns large="4">
                               <p class="text-center prod-lable">
                                   Беспроводная
                                    розетка
                               </p>
                           </columns>
                       </row>
                   </container>
                  

                  <spacer size="15"></spacer>

                  
                </center>
            </td>
        </tr>
    </table>
    
</body>
</html>